.places__photo-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 66px 70px 48px;
}

.places {
  background-color: #202020;
}

.movies__more-button {
  width: 320px;
  height: 36px;
  background-color: #2F2F2F;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: white;
  border: none;
  border-radius: 6px;
  margin: 0 auto;
  padding: 0;
  display: block;
}