.not-found {
  margin: 0 auto;
  max-width: 1280px;
  height: 100vh;
  color: white;
  font-size: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.not-found_title {
  margin: 0 0 5px;
  padding: 0;
  max-width: 400px;
  text-align: center;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  font-family: "Inter", "Arial", sans-serif;
}

.not-found_subtitle {
  max-width: 400px;
  text-align: center;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  font-family: "Inter", "Arial", sans-serif;
}

.button-back {
  margin-top: 184px;
  text-decoration: none;
  color: #4285F4;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  font-family: "Inter", "Arial", sans-serif;
}

@media screen and (max-width: 480px) {
  .not-found_title {
    margin: 0 0 5px;
    font-size: 110px;
    line-height: 130px;
  }
}

@media screen and (max-width: 320px) {
  .not-found_title {
    margin: 329px 0 10px;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found_subtitle {
    width: 300px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
  }

  .button-back {
    margin-top: 284px;
    font-size: 12px;
    line-height: 15px;
  }
}