/* .app__center {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
} */

.search-form {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.search-form::after {
  content: '';
  display: block;
  margin-top: 50px;
  width: 1140px;
  border: 1px solid #424242;;
  position: absolute;
}


.search-form__input {
  text-decoration: none;
  height: 34px;
  width: 700px;
  background-color: transparent;
  border: none;
  color: #8B8B8B;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 34px;
}

.search-form__submit {
  background-image: url(../../images/find_icon.svg);
  width: 34px;
  height: 34px;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  border: none;
}