.portfolio__container {
  background-color: #202020;
  display: flex;
  padding: 101px 70px 35px;
  max-width: 100%;
  flex-direction: column;
}

.portfolio__tiitle {
  margin: 0 0 60px;
  color: #8B8B8B;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
}

.portfolio__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;
}

.portfolio__item-name {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -1.2px;
}

.portfolio__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.portfolio__list-item:not(:last-child) {
  border-bottom: 1px solid #E6E6E6;
}

.portfolio__link-pic {
  width: 29px;
  height: 60px;
  object-fit: contain;
  padding: 5px;
  box-sizing: border-box;
  letter-spacing: -1.2px;
}

.portfolio__link {
  text-decoration: none;
  color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding-bottom: 25px;
  /* padding: 0; */
  background-repeat: no-repeat;
  display: flex;
}

@media screen and (max-width: 768px) {
  .portfolio__container {
    padding: 90px 50px 35px;
  }

  .portfolio__item-name {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .portfolio__item-name {
    font-size: 25px;
    line-height: 42px;
  }

  .portfolio__link-pic {
    width: 28px;
    height: 60px;
    object-fit: contain;
    padding: 5px;
    /* box-sizing: border-box; */
    letter-spacing: -1.12px;
  }
}


@media screen and (max-width: 320px) {
  .portfolio__container {
    padding: 70px 14px 0;
  }

  .portfolio__item-name {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -.72px;
  }

  .portfolio__tiitle {
    margin: 0 0 38px;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__list {
    justify-content: start;
    row-gap: 18px;
  }

  .portfolio__link {
    height: 28px;
  }

  .portfolio__link-pic {
    width: 18px;
    height: 28px;
    padding: 4px;
    letter-spacing: -.72;
  }
}