.techs_container {
  background-color: #272727;
  display: flex;
  min-height: 625px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.techs {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.88px;
  margin: 0;
  padding: 0;
}

.techs::after {
  display: block;
  width: 1140px;
  content: '';
  margin-top: 23px;
  border-bottom: 1px #DADADA solid;
}

.techs__title {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  margin: 90px 0 26px;
  padding: 0;
}

.techs__subtitle {
  margin: 0 0 100px;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.techs__items {
  text-decoration: none;
  display: flex;
  text-align: center;
  margin: 0 0 100px;
  padding: 0;
}

.techs__item {
  margin-right: 10px;
  width: 90px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #303030;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.techs__item:last-child {
  margin: 0;
}
