.navtab {
  max-width: 1280px;
  height: 66px;
  background-color: #272727;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.navtab__link {
  color: white;
  margin-right: 40px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.navtab__link:last-of-type {
  margin: 0;
}