.header {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #073042;
  }

  .header__background_dark {
    background-color: #202020;
  }

  .auth-container {
    /* background-color: #073042; */
  }

  .header__logo {
    padding-left: 70px;
  }

  .auth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-right: 70px;
  }

  .auth_button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: white;
  }

  .header__movies {
    display: flex;
    align-items: center;
  }

  .header__button-signin {
    width: 76px;
    height: 32px;
    background-color: #3DDC84;
    border-radius: 3px;
    border: none;
    text-decoration: none;
    color: black;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  .header__button-signup {
    text-decoration: none;
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-right: 30px;
  }

  .header__films {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: white;
  }

  .header__savied-films {
    text-decoration: none;
    margin: 0 50px 0 20px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white;
  }

  .header__button-account {
    color: white;
    font-family: "Inter", "Arial", sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 12px;
    margin: 0 7px 0 0;
  }

  .header__account-icon {
    width: 26px;
    height: 26px;
    background-color: #313131;
    border-radius: 50%;
    background-image: url(../../images/icon_user.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .header__account {
    display: flex;
    align-items: center;
    opacity: 1;
    padding-right: 70px;
    text-decoration: none;
  }

  .header__account:hover {
    opacity: .5;
    transition: 1s linear .2s ease-in-out;
  }

  .header__films_active {
    font-weight: 500;
  }

  .header__savied-films_active {
    font-weight: 500;
  }

  .header__button-account_active {
    text-decoration: none;
    color: #3DDC84;
  }

 .header__account_active {
    font-weight: 500;
  }