.footer {
  background-color: #202020;
  display: flex;
  margin: 0 auto;
  padding: 204px 0 20px;
  max-width: 100%;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.footer__copyright {
  color: aliceblue;
}

.footer__title {
  color: #8B8B8B;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  width: 1140px;
  align-self: center;
}

.footer__title::after {
  display: block;
  width: 100%;
  position: absolute;
  content: '';
  border-bottom: 1px solid #424242;
  margin-top: 20px;
}

.footer__links {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__contacts {
  display: flex;

  align-items: center;
  margin-top: 41px;
  width: 1140px;
}