.footer__container {
  background-color: #202020;
  display: flex;
  padding: 159px 0 20px;
  flex-direction: column;
  text-align: center;
}

.footer {
  max-width: 100%;
  background-color: #202020;
}

.footer__copyright {
  color: white;
}

.footer__title {
  color: #8B8B8B;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  position: relative;
  margin: 0;
  padding: 0;
  align-self: center;
}

.footer__title::after {
  display: block;
  position: absolute;
  content: '';
  border-bottom: 1px solid #424242;
  margin-top: 20px;
}

.footer__links {
  display: flex;
  justify-content: right;
  align-items: flex-end;
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link {
  text-decoration: none;
  color: white;
  margin-right: 20px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.footer__link:last-of-type {
  margin: 0;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 41px;
  padding: 0 70px 0;
}

@media screen and (max-width: 768px) {
  .footer__container {
    padding: 123px 0 20px;
  }

  .footer__contacts {
    padding: 0 30px 0;
  }
}